button[type="submit"] {
    width: 10%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.hint {
    background-color: #f4cccc; /* Light red background */
    padding: 10px;
    border-radius: 5px;
    font-style: italic; /* Italic font */
}
nav
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dae2e9;
    padding: 0px;
    z-index: 1000;
}
nav .navbar-brand
{
    font-size: xx-large;
}
body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: powderblue;
}
.jumbotron {
    background-color: #edf2f6;
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
}
.jumbotron img {
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}
.jersey-list {
    background-color: #edf2f6;
    border: 2px solid #dae2e9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.jersey-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.jersey-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.jersey-list li {
    margin-bottom: 10px;
    font-size: 18px;
    
}
.jersey-list .row {
    margin: 0;
}
.card-img-top {
    height: 500px; 
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire space */
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.login_container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
}


.login_container form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login_container label {
    display: block;
    margin-bottom: 10px;
}

.login_container input[type="text"],
.login_container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.payment-container button,
.login_container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.payment-container button
.login_container button[type="submit"]:hover {
    background-color: #0056b3;
}
.form-group {
    font-size: 16px;
    margin-bottom: 20px;
}
.payment-container {
    width: 74%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.payment-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.payment-container label {
    font-weight: bold;
}
.payment-container input[type="text"],
.payment-container input[type="number"],
.payment-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}
@media screen and (max-width: 599px) {
    .jumbotron {
        background-color: #0056b3; /* Adjust the font size value as needed */
    }
}


